APP_NAME=Detector de Objetos PDI
APP_ENV=development
CORS_ORIGINS=http://localhost:5173

YOLO_WEIGHTS=storage/models/yolo/best.pt
YOLO_LABELS=caneta,maca

SSDLITE_WEIGHTS=storage/models/ssdlite/model.pth
SSDLITE_FORMAT=ssdlite_torchvision
SSDLITE_LABELS=__background__,caneta,maca
SSDLITE_NUM_CLASSES=3

MAX_VIDEO_FRAMES=450
DEMO_MODE=true
