APP_NAME=Detector de Objetos PDI
APP_ENV=development
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

YOLO_WEIGHTS=storage/models/yolo/best.pt
YOLO_SOURCE_URL=
YOLO_SOURCE_FILE=
YOLO_LABELS=caneta,maca

YOLO_CANETA_WEIGHTS=storage/models/yolo/caneta.pt
YOLO_CANETA_SOURCE_URL=https://drive.google.com/drive/folders/1dfiKtpyRWazwXw4hZflllilDERNOCQD3
YOLO_CANETA_SOURCE_FILE=yolo_caneta_best.pt
YOLO_CANETA_LABELS=caneta

YOLO_MACA_WEIGHTS=storage/models/yolo/maca.pt
YOLO_MACA_SOURCE_URL=https://drive.google.com/drive/folders/1dfiKtpyRWazwXw4hZflllilDERNOCQD3
YOLO_MACA_SOURCE_FILE=yolo_maca_best.pt
YOLO_MACA_LABELS=maca

SSDLITE_WEIGHTS=storage/models/ssdlite/model.pth
SSDLITE_SOURCE_URL=
SSDLITE_SOURCE_FILE=
SSDLITE_FORMAT=ssdlite_torchvision
SSDLITE_LABELS=__background__,caneta,maca
SSDLITE_NUM_CLASSES=3

SSDLITE_CANETA_WEIGHTS=storage/models/ssdlite/caneta.pth
SSDLITE_CANETA_SOURCE_URL=https://drive.google.com/drive/folders/1dfiKtpyRWazwXw4hZflllilDERNOCQD3
SSDLITE_CANETA_SOURCE_FILE=ssdlite_caneta_best.pth
SSDLITE_CANETA_LABELS=__background__,caneta

SSDLITE_MACA_WEIGHTS=storage/models/ssdlite/maca.pth
SSDLITE_MACA_SOURCE_URL=https://drive.google.com/drive/folders/1dfiKtpyRWazwXw4hZflllilDERNOCQD3
SSDLITE_MACA_SOURCE_FILE=ssdlite_maca_best.pth
SSDLITE_MACA_LABELS=__background__,maca

MAX_VIDEO_FRAMES=450
DEMO_MODE=true
