APP_NAME=Detector de Objetos PDI
APP_ENV=development
CORS_ORIGINS=http://localhost:5173

YOLO_WEIGHTS=storage/models/yolo/best.pt
YOLO_SOURCE_URL=
YOLO_LABELS=caneta,maca

YOLO_CANETA_WEIGHTS=storage/models/yolo/caneta.pt
YOLO_CANETA_SOURCE_URL=
YOLO_CANETA_LABELS=caneta

YOLO_MACA_WEIGHTS=storage/models/yolo/maca.pt
YOLO_MACA_SOURCE_URL=
YOLO_MACA_LABELS=maca

SSDLITE_WEIGHTS=storage/models/ssdlite/model.pth
SSDLITE_SOURCE_URL=
SSDLITE_FORMAT=ssdlite_torchvision
SSDLITE_LABELS=__background__,caneta,maca
SSDLITE_NUM_CLASSES=3

MAX_VIDEO_FRAMES=450
DEMO_MODE=true
